/*==============*/
/*    NAV BAR   */
/*==============*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: #ffffff; /* azul escuro tipo slate */
  padding: 1rem 2rem;
  border-radius: 0 0 12px 12px; /* cantos arredondados em baixo */
  box-shadow: 0 2px 10px rgba(218, 212, 212, 0.616);
}

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #000000; /* cinza claro */
  transition: color 0.2s, transform 0.2s;
}

nav a:hover {
  color: #97a3a7; /* azul claro */
  transform: translateY(-2px);
}

nav a.active {
  border-bottom: 2px solid #64a6db;
  padding-bottom: 2px;
}



}
